body {
    font-size: 1.1em;
}

h1 {
    font-size: 2em;
}

ul .social,
aside div ul.social {
    padding-top: 0;
}

main article pre {
    font-size: 0.7em;
}

main article header {
    line-height: 0;
}
