body {
    font-size: 1.3em;
}

h1 {
    font-size: 2.1em;
}

ul .social,
aside div ul.social {
    padding-top: 0;
}

main article pre {
    font-size: 0.8em;
}

main article header {
    line-height: 0;
}
